
// Panels
// -------------------

// Overrides: atom/static/panels.less

.panel-heading {
  border-bottom: 1px solid @panel-heading-border-color;
  background-color: @panel-heading-background-color;
}

.inset-panel {
  background-color: @inset-panel-background-color;
  .panel-heading {
    background-color: lighten(@inset-panel-background-color, 4%);
  }
}


// Modal -------------------
// Used on top of the editor, like the Command Palette.

atom-panel.modal {
  box-shadow: 0 2px 8px 1px hsla(0,0%,0%,.3);
  padding-left: 0;
  padding-right: 0;

  atom-text-editor[mini] {
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
  }
  .list-group {
    overflow: hidden;
  }
  // The "no matches found" message.
  .error-message {
    padding-left: 10px;
  }
}
