
// Status Bar
// -------------------

// Located at the bottom.
// Displays information about the current editor.
// Overrides: atom/status-bar

.status-bar {
  font-size: @font-size;
  color: @text-color;
  background-color: @tool-panel-background-color;
}
